<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>

    
  
</head>
<body>
    <div class="container mt-5">
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/realtimeproducts">Ir a Carga de productos</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/chat">Ir al Chat</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/cart">Ir al carrito</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/products">Ir a Products</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/users/register">Regístrate</a>
    </li>
    <li class="page-item mt-3 ml-2">
      <a class="btn btn-primary" href="/users/login">Inicia sesión</a>
    </li>
  </ul>
</nav>
</div>
    <div class="container mt-5">
        
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title mb-4">Recuperar Contraseña</h1>
                        <form id="forgotPasswordForm">
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', async (event) => {
            event.preventDefault(); // Evitar el comportamiento predeterminado de enviar el formulario

            const formData = new FormData(event.target); // Obtener los datos del formulario

            const email = formData.get('email'); // Obtener el valor del campo de entrada de correo electrónico

            console.log('Correo electrónico ingresado:', email); // Mostrar el correo electrónico en la consola
            Swal.showLoading();
            try {
                // Mostrar ventana de carga mientras se espera la respuesta del servidor
               

                const response = await fetch('/resetPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(Object.fromEntries(formData))
                });

                if (response.ok) {
                    const data = await response.json();
                    console.log(data); // Hacer algo con la respuesta del servidor (opcional)
                    // Mostrar SweetAlert2 de éxito
                    await Swal.fire({
                        icon: 'success',
                        title: 'Correo enviado',
                        text: 'Se ha enviado un correo electrónico con instrucciones para restablecer la contraseña.',
                    });
                } else {
                    console.error('Error en la solicitud:', response.status);
                    // Mostrar SweetAlert2 de error
                    await Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al enviar la solicitud. Por favor, inténtalo de nuevo.',
                    });
                }
            } catch (error) {
                console.error('Error al enviar la solicitud:', error);
                // Mostrar SweetAlert2 de error
                await Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al enviar la solicitud. Por favor, inténtalo de nuevo.',
                });
            }
        });
    </script>
</body>
</html>
