<div class="container mt-5">
    <h1>Logueate usando GitHub!</h1>
    <a href="/api/sessions/github" class="btn btn-primary mt-3">Entrar Con GitHub</a>

    <div class="mt-5">
        <h2>No quieres usar GitHub? Puedes usar nuestros enlaces:</h2>
        <p>No estás registrado? <a href="/users/register">Regístrate Aquí</a></p>
        <p>Ya tienes cuenta con nosotros? <a href="/users/login">Haz login Aquí</a></p>
    </div>
</div>