
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<style>
    .titulo-bienvenido {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
    }
    .card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
     .btn:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
</style>

<div class="container text-center mt-5">
   <h1 class="titulo-bienvenido">Bienvenido</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card border-0 shadow-lg mb-4">
                <div class="card-body">
                    <a class="btn btn-lg btn-primary btn-block rounded-pill py-3" href="/api/users/login">Inicia sesión</a>
                    <a class="btn btn-lg btn-primary btn-block rounded-pill py-3 " href="/api/users/register">Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</div>
