<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5vIOj76j5wqV5gAPtk12jFAOg8L8t+J1rXddJ" crossorigin="anonymous">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <style>
        /* Estilos CSS aquí */
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Restablecer Contraseña</h1>
        <form id="resetPasswordForm">
            <div class="mb-3">
                <label for="newPassword" class="form-label">Nueva Contraseña:</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <input type="hidden" id="token" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </form>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-giiCDsPVxn4FZ0pd+PRmk9GzI1E4Igy2xuVm2V+3cGkWl4y4TEvEEwTISww/a2XG" crossorigin="anonymous"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', async (event) => {
            event.preventDefault(); // Evitar el comportamiento predeterminado de enviar el formulario

            const formData = new FormData(event.target); // Obtener los datos del formulario

            // Obtener las contraseñas del formulario
            const newPassword = formData.get('newPassword');
            const confirmPassword = formData.get('confirmPassword');

            // Verificar si las contraseñas coinciden
            if (newPassword !== confirmPassword) {
                await Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Las contraseñas no coinciden. Por favor, inténtalo de nuevo.',
                    confirmButtonText: 'OK'
                });
                return; // Detener el proceso si las contraseñas no coinciden
            }
                Swal.showLoading();
            try {
                const response = await fetch('/resetPassword/reset-password', {
                    method: 'POST',
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const data = await response.json();
                    await Swal.fire({
                        icon: 'success',
                        title: 'Éxito',
                        text: data.message,
                        confirmButtonText: 'OK',
                        onClose: () => {
                            window.location.href = '/users/login';
                        }
                    });
                } else {
                    const errorData = await response.json();
                    await Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: errorData.error || 'Error al restablecer la contraseña. Por favor, inténtalo de nuevo.',
                        confirmButtonText: 'OK'
                    });
                }
            } catch (error) {
                console.error('Error al enviar la solicitud:', error);
                await Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al restablecer la contraseña. Por favor, inténtalo de nuevo.',
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
</body>
</html>
