<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5vIOj76j5wqV5gAPtk12jFAOg8L8t+J1rXddJ" crossorigin="anonymous">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <style>
        /* Estilos CSS aquí */
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Restablecer Contraseña</h1>
        <form id="resetPasswordForm">
            <div class="mb-3">
                <label for="newPassword" class="form-label">Nueva Contraseña:</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <input type="hidden" id="token" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </form>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-giiCDsPVxn4FZ0pd+PRmk9GzI1E4Igy2xuVm2V+3cGkWl4y4TEvEEwTISww/a2XG" crossorigin="anonymous"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/resetPassword.js" ></script>
</body>
</html>
